/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@tailwind base; 
@tailwind components;
@tailwind utilities;

.home .hero img
  max-width 450px!important

body
  font-family Overpass, sans-serif

.text-accent
  color: #0b9dcc;

.bg-accent
  background-color: #0b9dcc

h1
  font-size 34px
  font-weight 400
  padding-bottom .3rem

h2
  font-size 24px
  font-weight 400
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 19px
  font-weight 700
  padding-bottom .3rem

p
  font-size 16px
  padding-top 0.2rem